# version: "3.8"

# services:

#   db:
#     container_name: letsmove_db
#     image: postgres
#     restart: always
#     ports:
#       - 5432:5432
#     environment:
#       - POSTGRES_USER=${DB_USER}
#       - POSTGRES_PASSWORD=${DB_PASSWORD}
#       - POSTGRES_DB=${DB_NAME}

#   pgadmin:
#     container_name: letsmove_pgadmin
#     image: dpage/pgadmin4
#     environment:
#       - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
#       - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
#       - PGADMIN_CONFIG_SERVER_MODE=False
    
#     ports:
#       - 5050:80
    
#     extra_hosts:
#       - "host.docker.internal:host-gateway"


#   app:
#     container_name: letsmove_app
#     build: 
#       context: .
#       dockerfile: .docker/Dockerfile
#     command: bash -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
#     volumes:
#       - .:/app
#     ports:
#       - 8000:8000
#     environment:
#       - DB_HOST=host.docker.internal
#       - DB_PORT=5432
#       - DB_USER=${DB_USER}
#       - DB_PASSWORD=${DB_PASSWORD}
#       - DB_NAME=${DB_NAME}
#     extra_hosts:
#       - "host.docker.internal:host-gateway"
#     restart: always